#################
## Sublime 
*.sublime-project
*.sublime-workspace

## folders 
sandbox/
cache/
figure/
## Rstudio
.Rproj.user
*Rproj
.Rhistory
*.Rhistory
## Dropbox
*.dropbox.attr
inst/doc

/vignettes/diagnostic.html

/vignettes/workflow.html

## linux artifacts
*.nfs*
