#################
## Sublime 
*.sublime-project
*.sublime-workspace

## folders 
sandbox/
cache/
figure/
## Rstudio
.Rproj.user
*Rproj
.Rhistory
*.Rhistory
## Dropbox
*.dropbox.attr
inst/doc

/vignettes/diagnostic.html

/vignettes/workflow.html

/docs/articles/KOALA_cache/

/vignettes/KOALA.html
