#################
## Sublime 
*.sublime-project
*.sublime-workspace

## .Rbuildignore
.Rbuildignore
## folders 
data-raw/
sandbox/
cache/
figure/
## Rstudio
.Rproj.user
*Rproj
.Rhistory
*.Rhistory
## Dropbox
*.dropbox.attr
inst/doc
